:root {
    --cor-primaria: #43bd8e;
    --cor-secundaria: #FD6C22;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #282828;
    --cor-fundo-cinza-claro: #353535;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem; /* 45px */
    --fonte-extra-grande: 3rem; /* 30px */
    --fonte-grande: 2.4rem; /* 24px */
    --fonte-normal: 1.6rem; /* 16px */
  }
  
  :root {
    --mobile-padding: 30px;
  }